html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Color */
  --color-primary: #f2f7f5;
  --color-paragraph: #475d5b;
  --color-secondary1: rgba(0, 71, 62, 1);
  --color-secondary1-translucent: rgba(0, 71, 62, 0.97);
  --color-secondary1-headline: #fffffe;
  --color-secondary1-sub-headline: #f2f7f5;
  --color-secondary1-stroke: #00332c;
  --color-highlight: #faae2b;

  /* Size */
  --content-width: 60vw;
  --content-width-max: 850px;
}

body {
  color: var(--color-paragraph);
  text-align: center;
  font-family: Candara, sans-serif;
}

.header,
.main {
  width: var(--content-width);
  max-width: var(--content-width-max);
  padding: 20px;
  margin: auto;
}

.main {
  background: no-repeat center/95% url("./assets/venn-diagram.svg");
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border-radius: 5px;
  background: var(--color-secondary1-translucent);
  padding: 20px;
}

.form-control div {
  display: flex;
  flex-direction: column;
}
.form-control div:nth-child(n + 2) {
  margin-top: 25px;
}

.fieldset-list {
  display: flex;
  flex-direction: column;
}

.form-control label,
fieldset legend {
  color: var(--color-secondary1-headline);
  font-weight: bold;
}

.form-control label {
  margin-bottom: 5px;
}

fieldset {
  border: 1px solid var(--color-secondary1-stroke);
  border-radius: 5px;
}

.form-control fieldset label {
  color: var(--color-secondary1-sub-headline);
}

input,
textarea,
select {
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  background-color: var(--color-primary);
  color: var(--color-paragraph);
}

option {
  background-color: var(--color-primary);
}

.form-submit-button {
  background-color: var(--color-highlight);
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: var(--color-secondary1);
}
