html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Font */
  --font-family: Candara, sans-serif;
  /* Color */
  --color-primary: #f2f7f5;
  --color-paragraph: #475d5b;
  --color-secondary1: rgba(0, 71, 62, 1);
  --color-secondary1-translucent: rgba(0, 71, 62, 0.97);
  --color-secondary1-headline: #fffffe;
  --color-secondary1-sub-headline: #f2f7f5;
  --color-secondary1-stroke: #00332c;
  --color-highlight: #faae2b;

  /* Size */
  --content-width: 97vw;
  --content-width-max: 750px;
  --font-size-main: 1.5em;
  --content-box-padding: 1.25em;
  --input-padding: 0.625em;
  --font-size-input: 0.9em;
  --font-size-submit: 1.3em;
}

body {
  color: var(--color-paragraph);
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--font-size-main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.main {
  width: var(--content-width);
  max-width: var(--content-width-max);
}

.main {
  background: no-repeat center/90% url("./assets/venn-diagram.svg");
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border-radius: calc(var(--input-padding) / 2);
  background: var(--color-secondary1-translucent);
  padding: var(--content-box-padding);
}

.form-control div {
  display: flex;
  flex-direction: column;
}
.form-control div:nth-child(n + 2) {
  margin-top: var(--content-box-padding);
}

.fieldset-list {
  display: flex;
  flex-direction: column;
}

.form-control label,
fieldset legend {
  color: var(--color-secondary1-headline);
  font-weight: bold;
}

.form-control label {
  margin-bottom: calc(var(--input-padding) / 2);
}

fieldset {
  border: 1px solid var(--color-secondary1-stroke);
  border-radius: calc(var(--input-padding) / 2);
}

.form-control fieldset label {
  color: var(--color-secondary1-sub-headline);
  font-weight: normal;
}

input,
textarea,
select,
button {
  padding: var(--input-padding);
  border-radius: calc(var(--input-padding) / 2);
  border: none;
  background-color: var(--color-primary);
  color: var(--color-paragraph);
  font-size: var(--font-size-input);
  font-family: var(--font-family);
}

option {
  background-color: var(--color-primary);
}

.form-submit-button {
  background-color: var(--color-highlight);
  font-weight: bolder;
  color: var(--color-secondary1);
  font-size: var(--font-size-submit);
}
